.cart-empty {
    font-size: 40px;
    color: #E0E0E0;
    text-align: center;
    text-transform: uppercase;
    margin-top: 35%;
}
.cart-container {
    margin-top: 10%;
    margin-left: 6%;
    min-width: 45vw;
    height: 65vh;
    overflow-x: auto;
    // background-color: #bdc3c7 !important;
}

.cart-total {
    display: flex;
    flex-direction: row;
    background-color: #009688 !important;
    color: #ecf0f1;
    margin-top: 2%;
    margin-left: 6%;
    min-width: 45vw;
    height: 13.5vh;

        .cart-total__icon {
            height: 50px;
            width: 50px;
            padding-top: 5%;
            padding-left: 5%;
        }

        P {
            margin: 0;
            padding: 0;
            font-size: 20px;
            text-align: center;
            padding-top: 6.5%;
            padding-left: 4%;
        }
}