$break-large: 1400px;

.cart-empty {
    font-size: 40px;
    color: #E0E0E0;
    text-align: center;
    text-transform: uppercase;
    margin-top: 33%;
}
.cart-container {
    margin-top: 10.5%;
    margin-left: 6%;
    min-width: 45vw;
    height: 60vh;
    overflow-x: auto;
    // background-color: #bdc3c7 !important;

    @media screen and (max-width: $break-large) {
        margin-top: 12.5%;
    }
}

.cart-total {
    display: flex;
    flex-direction: row;
    background-color: #009688 !important;
    color: #ecf0f1;
    margin-top: 1.5%;
    margin-left: 6%;
    min-width: 45vw;
    height: 13.5vh;

        .cart-total-items__icon,
        .cart-total-price__icon {
            height: 50px;
            width: 50px;
            padding-top: 5%;
            padding-left: 5%;
        }

        P {
            margin: 0;
            padding: 0;
            font-size: 20px;
            text-align: center;
            padding-top: 6.5%;
            width: 40%;
        }
}