.product-list-loader {
    margin-left: 50%;
    margin-top: 40vh;
}

.container {
    margin-top: 1%;
    margin-left: 2%;
    // margin-bottom: 1%;
    width: 50vw;
    height: 90vh;
    overflow-x: auto;
    
    .product-list-table {
        // max-width: 400px !important;
    }
}
