$break-large: 1400px;

.product-list__loader {
    margin-left: 25%;
    margin-top: 40vh;
    min-width: 25vw;
}

.product-list__error {
    margin-left: 25%;
    margin-top: 40vh;
    min-width: 25vw;
    color: #c51162;

    @media screen and (max-width: $break-large) {
        margin-left: 22%;
        min-width: 27vw;
    }
    
    .product-list__error--icon {
        width: 30px;
        height: 30px;
        margin-left: 11%;

        @media screen and (max-width: $break-large) {
            margin-left: 14%;
        }
    }
}

.search-input {
    width: 50vw !important;
    margin-left: 4% !important;
    margin-top: 2% !important;

    label {
        color: rgba(0, 0, 0, 0.87) !important;
    }
    
    .MuiInput-underline-92:after {
        border-bottom: 2px solid rgba(0, 0, 0, 0.87);
    }
}

.container {
    margin-top: 2.7%;
    margin-left: 4%;
    min-width: 50vw;
    height: 74.5vh;
    overflow-x: auto;
    
    .product-list-table {

        .product-list-table__head {
            background-color: #018786;
            
            .product-list-table__head__title {
                color: #ecf0f1;

                .sorting-icon {
                    padding-top: 5px;
                    width: 14px;
                    height: 14px;
                }
            }
        }

        .product-list-item--quantity {
            width: 70px;

            label {
                font-size: 13px;
            }
        }
        .product-list-item--add-to-cart {
            margin-left: 25px;
            width: 30px;
            height: 30px;

            &:hover {
                color: #009688;
            }
        }
    }
}
