.product-list-loader {
    margin-left: 50%;
    margin-top: 50vh;
}

.container {
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 1%;
    width: 30vw;
    // height: 80vh;
    overflow-x: auto;
    
    .product-list-table {
        // max-width: 400px !important;
    }
}
