.cart-product-item {
    margin: 2%;
    // width: 30vw;
    background-color: #009688 !important;
    
    .cart-product-item__text {
        color: #ecf0f1 !important;
    }

    .cart-product-item--delete {
        color: #ecf0f1;
        padding-top: 5px;
        
        &:hover {
            color: #E0E0E0;
        }
    }
}